* {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  min-height: 100vh;
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
img {
  position: absolute;
  top: -30%;
  width: 500px;
  height: 600px;
  animation: bird ease-in 2s infinite;
}
@keyframes bird {
 0% {
  left: 0%; top: 0%;
 }
25% {
  left:200px; top:0px;
}
50% {
  left: 200px; top: 200px;
}
100% {
  left: 200px; top: 200px;
}
}

